body {
  background-color: #222222;
}

.tabbutton {
	background-color: #444444;
	color: #ffffff;
	border: 10px;
	height: 50px;
	width: 200px;
	border-radius: 15px;
}

.topbar {
	background-color: #333333;
	margin: 0px;
	border: 0px;
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
}

h1 {
	color: #ffffff;
}
